@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Agbalumo;
    /* overflow-x: hidden; */
}

/* CSS FOR APP */

#container {
    background-color: #22303C;
    color: white;
    min-height: 100vh
}

/* CSS FOR NAVBAR */

#logo p {
    font-family: Agbalumo;
    font-size: 3rem;
}

.nav_links {
    display: flex;
    justify-content: space-around;
}

.nav_links li {
    list-style: none;
}

.your-link-class {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 4px;
    font-family: Agbalumo;
}

.your-link-class::after {
    content: '';
    display: block;
    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    transition: width 0.3s ease;
    width: 0;
}

.your-link-class:hover::after {
    width: 100%;
    height: 2%;
}

@media only screen and (max-device-width: 1380px) {
    #logo p {
        font-size: 2rem;
    }

    .nav_links {
        margin: 2px;
    }
}

@media only screen and (max-device-width: 680px) {
    #logo p {
        text-align: center;
    }
}

@media only screen and (max-device-width: 480px) {
    #logo p {
        text-align: center;
    }

    .your-link-class {
        font-size: 1rem;
        font-weight: lighter;
        letter-spacing: 2px;
        font-family: Agbalumo;
    }

}













/* CSS FOR HOME */

#home_container {
    margin-top: 10vh;
}

#home_container h1 {
    font-size: 5rem;
    font-weight: bolder;
}

#home_container span {
    color: #c471ed;
}

.vertical-line {
    /* border-radius: 15px; */
    /* background-color: #a339d7; */
    /* border: 2px solid white; */
    /* height: 30vh; */
}

.vertical-line div {
    border-radius: 45px;
    background-color: #c471ed;
    /* background-color: white; */
    width: 20px;
    height: 50px;
    position: relative;
    animation: moveDown 3s ease-in-out infinite;
    /* animation: moveUp 3s ease-in infinite; */
}

@keyframes moveDown {
    from {
        top: 0;

    }

    to {
        top: 200px;
    }
}

@media only screen and (max-device-width: 350px) {
    #home_container h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-device-width: 500px) {
    #right {
        margin-left: 10vw;
    }

    @keyframes moveDown {
        from {
            top: 0px;

        }

        to {
            top: 200px;
        }
    }

    .vertical-line div {
        animation: moveDown 1.75s ease-in-out infinite;
    }
}

@media only screen and (max-device-width: 1250px) {
    #home_container h1 {
        font-size: 3rem;
    }
}



/* About css */
#about_container h1 {
    text-transform: uppercase;
    font-weight: bolder;
    /* font-family: Agbalumo; */
    color: yellow;
}

#about_container h2 {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Agbalumo;
}

#about_container p {
    font-size: 2rem;
}

#about_container span {
    color: #c471ed;
}

@media only screen and (max-device-width: 850px) {
    #about_container p {
        font-size: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}


/* Conatct page css */
#contact_card {
    margin: auto;
    /* background-color: #c471ed; */
    color: white;
    /* border: 2px solid red; */
    width: 25vw;
    height: 30vh;
    padding: 4px;
    background-color: #1a535c;

}

#contact_card h2 {
    color: yellow;
}



#contact_container p {
    font-size: 2rem;
}

#contact_container span {
    color: #c471ed;
}


@media only screen and (max-device-width: 850px) {
    #contact_container h1 {
        font-size: 1.8rem;

    }

    #contact_container p {
        font-size: 1.2rem;
    }

    #contact_card {
        width: auto;
    }

    #contact_card h2,
    h1 {
        font-size: 1rem;
    }
}

/* project css */

#project_card a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}


@media only screen and (max-device-width: 1250px) {
    #project_container h3 {
        font-size: 1.5rem;

    }

}